.card{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}
.card1{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}

.card2{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}
.card3{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}
.card4{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}
.card5{
  padding: 60px;
  background-color: red;
  position: relative;
  top: 0;
  left: 50;

  width: 10px;
  height: 10px;
}
